input:focus, a:focus, input:active, a:active{
    outline:0 none;
}
::placeholder{
    color:#ccc;
}
.wpsl-search{
    text-align: center;
    background: #000;
    position: relative;
}
#wpsl-search-wrap div.wpsl-search-btn-wrap {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30%;
    margin: 0;
}
#wpsl-search-wrap .wpsl-input {
    float: none;
    width: 69%;
    display: block!important;
}
#wpsl-search-wrap div{
    float: none;
}
#wpsl-search-btn{
    background: #000;
    width: 100%;
    border:0 none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
    font-weight: 500;
    color:#fff;
    border-radius: 0;
    float: right;
}
#wpsl-search-wrap input{
    border-radius:0;
}
#wpsl-search-wrap .wpsl-input label{
    display: block;
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
    text-align: left;
}
.wpsl-search input#wpsl-search-input {
    border-radius: 0;
    background: #000;
    border-color: #333;
    display: block;
    width: 100%;
    margin: 0;
    height: 38px;
    color: #fff;
}
#wpsl-wrap #wpsl-result-list li{
    border-bottom: 1px solid #333;
    padding: 30px 0;
}
#wpsl-wrap #wpsl-result-list li p strong{
    font-weight: 200;
    font-size: 32px;
    line-height: 110%;
    color:#ccc;
}
#wpsl-wrap #wpsl-result-list li p.wpsl-contact-details *{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
}
.wpsl-directions{
    font-size: 20px;
    display: block;
    padding: 10px 0;
    font-weight: bold;
}
@media (max-width: 825px){
    .wpsl-no-filters #wpsl-search-wrap .wpsl-input {
        width: 69%!important;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 570px){
    .wpsl-search {
        padding: 10px;
    }
}
@media (max-width: 570px) {
    #wpsl-search-wrap #wpsl-search-btn {
        margin-bottom:0;
    }
}

@media (max-width: 675px) {
    #wpsl-search-wrap #wpsl-search-btn {
        float: none;
        margin: 0;
    }
}
#wpsl-gmap .wpsl-info-window, .gm-style-iw{
    color:#000!important;
}
#wpsl-wrap #wpsl-result-list li.wpsl-preloader {
    padding: 20px 10px 20px 66px!important;
}